<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <article id="system" class="page sans">
        <header><h1 class="page-title">학생정보관리 시스템</h1></header>
        <div class="page body"><p id = "aaa" class=""></p>
        <p id="regist" class=""><a href="/regist">훈련생 정보 등록하기</a></p>
        <p id="search" class=""><a href="/search">훈련생 정보 조회하기</a></p>
        <p id="delete" class=""><a href="/delete">훈련생 정보 삭제하기</a></p>
        <p id="update" class=""><a href="/update">교육과정 정보 조회하기</a></p>
        </div>
    </article>
</body>
</html>